:root {
  --app-primary: #0378A6;
  --app-secondary: #580e75;

  --app-dark: #2a2a2a;
  --app-light: #ffffff;
  --app-darklight: #EBEDF2;
  --app-darklight2: #bebdbd;

  --app-error: #e2445c;
  --app-warning: #F25C05;
  --app-success: #9EBF6B;
}
