<app-template-full-width>
  <h1 class="title">clients</h1>
  <ng-container class="contents">
    <app-table-light *ngIf="collection" [headers]="headers">
      <tr *ngFor="let item of collection">
        <td>{{ item.typePresta }}</td>
        <td>{{ item.client }}</td>
        <td>{{ item.nbJours }}</td>
        <td>{{ item.tjmHt | currency }}</td>
        <td>{{ item.tjmHt | total: item.nbJours | currency }}</td>
        <td>{{ item.tjmHt | total: item.nbJours: item.tva | currency }}</td>
        <td>{{ item.state }}</td>
      </tr>
    </app-table-light>
  </ng-container>
</app-template-full-width>
